<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd  
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd  
           http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="Server" class="org.eclipse.jetty.server.Server"
		init-method="start" destroy-method="stop">
		<property name="connectors">
			<list>
				<bean id="Connector" class="org.eclipse.jetty.server.nio.SelectChannelConnector">
					<property name="port" value="8089" />
				</bean>
			</list>
		</property>

		<property name="handler">
			<bean id="handlers" class="org.eclipse.jetty.server.handler.HandlerList">
				<property name="handlers">
					<list>
						<bean class="org.eclipse.jetty.server.handler.ResourceHandler">
							<property name="directoriesListed" value="false" />
							<property name="welcomeFiles">
								<list>
									<value>index.html</value>
									<value>empty.html</value>
								</list>
							</property>
							<property name="resourceBase" value="webroot" />
						</bean>
						<bean class="wenxin.billyspring.MyHandler">
							<property name="param1">
								<ref bean="ClassABean" />
							</property>
						</bean>
						<bean class="org.eclipse.jetty.server.handler.DefaultHandler" />
						<!-- <bean class="org.mortbay.jetty.handler.RequestLogHandler" /> -->
						<!-- <bean class="org.eclipse.jetty.webapp.WebAppContext"> <property 
							name="configurations"> <ref bean="StaticContexConfiguration" /> </property> 
							</bean> -->
					</list>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="StaticContexConfiguration" class="org.eclipse.jetty.webapp.WebXmlConfiguration">
		<!-- <property name="descriptor" value="E:/share/test/struts2-blank/WEB-INF/web.xml" 
			/> <property name="contextPath" value="/webroot\" /> <property name="resourceBase" 
			value="E:/share/test/struts2-blank" /> -->
	</bean>
	<bean id="ClassABean" class="wenxin.billyspring.ClassA">
		<property name="name">
			<ref bean="NameBean" />
		</property>
	</bean>
	<bean id="NameBean" class="wenxin.billyspring.Name">
		<property name="name">
			<value>SampleName</value>
		</property>
	</bean>
	<bean id="userDAO" class="wenxin.billyspring.ExecuteAStatement">
		<property name="dataSource">
			<ref bean="myDataSource" />
		</property>
	</bean>
	<bean id="myDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>org.hsqldb.jdbcDriver</value>
		</property>
		<property name="url">
			<value>jdbc:hsqldb:hsql://localhost:</value>
		</property>
		<property name="username">
			<value>sa</value>
		</property>
		<property name="password">
			<value></value>
		</property>
	</bean>

	<!-- 启用AspectJ对Annotation的支持 -->

	<!-- <bean id="userManager" class="com.bjpowernode.spring.UserManagerImpl" 
		/> -->

	<bean id="securityHandler" class="wenxin.billyspring.AopHandler" />
	<aop:config>
		<aop:aspect id="securityAspect" ref="securityHandler">
			<!-- 以add开头的方法 <aop:pointcut id="addAddMethod" expression="execution(* 
				add*(..))" /> -->
			<!-- wenxin.billyspring 包下所有的类所有的方法 <aop:pointcut id="addAddMethod" expression="execution(* 
				wenxin.billyspring.*.*(..))" /> -->
			<aop:pointcut id="addAddMethod"
				expression="execution(* wenxin.billyspring.*.add*(..))" />
			<aop:around pointcut-ref="addAddMethod" method="denineSecurity" />
			<aop:before pointcut-ref="addAddMethod" method="checkSecurity" />
			<!-- <aop:after pointcut-ref="addAddMethod" method="logSecurity" /> -->
			<aop:pointcut id="delAddMethod3"
				expression="execution(* wenxin.billyspring.*.del*(..))" />
			<aop:around pointcut-ref="delAddMethod3" method="controlSecurity" />
			<aop:before pointcut-ref="delAddMethod3" method="logSecurity" />
			<aop:after pointcut-ref="delAddMethod3" method="checkSecurity" />
		</aop:aspect>
	</aop:config>


</beans>